
.synopsis{
font-size: 15px;
font-family: Arial, Helvetica,sans-serif;
font-weight: 400;
padding: 20px;
Margin:20px;
margin-right: 200px;
margin-left:250px;
background-color: white;
border-radius: 4px;
padding: 10px;
margin: 10px;
}

h1{
  font-size: 50;
}

.Emma {
  padding: 10;
  Text-Align:left;
    font-size: 15px;
    font-family: Arial, Helvetica,sans-serif;
    margin-right: 200px;
    margin-left:250px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
  
}

.Ezra {
  Padding: left;
  Text-Align: left;
  font-size: 15px;
  font-family: Arial, Helvetica,sans-serif;
  margin-right: 200px;
  margin-left:250px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}

.Logan {
 Padding: left;
  Text-Align: left;
  font-size: 15px;
  font-family: Arial, Helvetica,sans-serif;
  margin-right: 200px;
  margin-left:250px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}


<style>
 
h3 {
  background-color: lightgreen;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}
Img{
  background-color: lightgreen;
  }

</style>
