
p{
font-size: 15px;
font-family: Arial, Helvetica,sans-serif;
font-weight: 400;
padding: 20px;
Margin:20px;
margin-right: 200px;
margin-left:250px;
background-color: white;
border-radius: 4px;
padding: 20px;
margin: 10px;
}

h1{
  font-size: 50;
}



<style>
  p {
    font-size: 15px;
    font-family: Arial, Helvetica,sans-serif
    margin-right: 200px;
    margin-left:250px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
}
h3 {
  background-color: lightgreen;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}
img{
  background-color: lightgreen;
  }

Img{
  width: 25%
    float: left;
}

section:after{
  content:"Emma Watson is mostly known for playing the role of 'Hermoine
  Granger' in Harry potter. After Harry Potter Emma attended Brown university in the states
  to persue a normal life, it was not until a few months later where she got sent a
  script through her agent and fell in love with the novel. She attended auditions
  and managed to get the role of Sam.";
    
    display:block;
  clear:block;
}


</style>
